body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #baffc9;
  grid-area: Green;
}

#orange {
  background-color: #ffdfba;
  grid-area: Orange;
}

#yellow {
  background-color:   #ffffba;
  grid-area: Yellow;
}

#red {
  background-color:   #ffb3ba;
  grid-area: Red;
}

#blue {
  background-color:   #bae1ff;
  grid-area: Blue;
}

ul { 
  padding: 0; 
}

li {
  background-color: white;
  padding: 1em;
  display: inline-flex;
  margin: 1em;
  width: 20%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr .5fr;
  grid-template-areas:
    "Green  Green  Green"
    "Yellow Red    Blue"
    "Orange Orange Blue";
}