body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #baffc9;
  grid-area: Green;
}

#orange {
  background-color: #ffdfba;
  grid-area: Orange;
}

#yellow {
  background-color:   #ffffba;
  grid-area: Yellow;
}

#red {
  background-color:   #ffb3ba;
  grid-area: Red;
}

#blue {
  background-color:   #bae1ff;
  grid-area: Blue;
}

ul { 
  padding: 0; 
}

li {
  background-color: white;
  padding: 1em;
  display: inline-block;
  margin: 1em;
  width: 10%;
}

#yellow li:first-child{
  width: 30%;
}

#red ul{
  transform: rotate(180deg);
}
#red ul > li{
  transform: rotate(-180deg);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "Yellow Yellow Yellow Yellow"
    "Blue  Orange Orange Orange"
    "Blue Red   Red   Red"
    "Blue Green Green Green";
}